.formGroup {
  padding: 30px;
  border: 0.3px solid #c4c4c4;
  margin: 10px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.formGroup > label {
  position: absolute;
  top: -22px;
  left: 50px;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
}

.formGroup > div {
  border: none;
}
